
<ion-content> <!--Toolbar de hora, señal, etc.-->

  <ion-header >
    <ion-toolbar color="primary">
      <ion-title>Ingresa tus datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--body-->
<form #formulario="ngForm" (ngSubmit)="onSubmit()">

  <ion-item mode="md">
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" name="nombre" [(ngModel)]="usuario.nombre" required></ion-input>
  </ion-item>

  <ion-item mode="md">
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input type="text" name="apellidos" [(ngModel)]="usuario.apellidos" required></ion-input>
  </ion-item>

  <ion-item mode="md">
    <ion-label position="stacked" >Número</ion-label>
    <ion-input type="number" name="fono" [(ngModel)]="usuario.fono" required></ion-input>
  </ion-item>

  <ion-item mode="md"> 
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="usuario.email"
    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
    required></ion-input>
  </ion-item>

  <ion-item mode="md">
    <ion-label position="stacked">Clave</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password" name="password" required></ion-input>
  </ion-item>

  <ion-text>
    <p class="leemeclave">Tu clave debe tener entre 6 y 20 caracteres. No incluyas tu nombre, 
      apellido o e-mail, ni caracteres idénticos consecutivos.
    </p>
  </ion-text>

  <ion-toolbar class="padding1">
    <ion-checkbox slot="start" name="condiciones" required></ion-checkbox>
    <ion-text>
      <p class="condiciones">Acepto los <a href="#">Términos y 
        Condiciones </a> y autorizo el uso de mis datos de acuerdo a la <a href="#">Declaración de Privacidad</a>.<p>
    </ion-text>
  </ion-toolbar>

  <ion-button [disabled]="formulario.invalid" (click)='signup()' type="submit"expand="block" mode="ios" routerLink="/login">
    Continuar
  </ion-button>
</form>


  
</ion-content>