
.tb_height{
	max-height: 24px ;
}


.tb1_color{
    background-color:   #862323;
  }


.ta_center{
    text-align: center;
}

.pad_img{
  padding:10px;
}


img { 
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
  
}

.leemeclave{
  text-align: left; 
  color:rgb(139, 144, 150);
  padding-left: 10px;
  font-size: 14px;
}

.padding1{
  --padding-start:10px;
}

.condiciones{
  padding-left:10px;
  font-size: 15px; 
  padding-right:10px;

}