
<ion-content> <!--Toolbar de hora, señal, etc.-->
  <ion-toolbar color="#9522FF" class="tb_height tb1_color">
  </ion-toolbar>

  <ion-toolbar color="primary"> <!--toolbar menu, search y carrito-->
    <ion-buttons slot="start">


      <ion-button (click)="mostrarMenu()">
        <ion-icon color="light" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    
    
    
    
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="cart-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar mode="md" placeholder="Buscar "></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="primary"><!--toolbar ubicación y usuario-->
    <ion-buttons slot="start">
      <ion-button>
      <ion-icon  name="location-outline" color="light"></ion-icon>
    </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-text color="light">
        <p class="ta_center">Enviar a Nuevo Usuario - Fra</p>
      </ion-text>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
      <ion-icon  name="chevron-forward-outline" color="light"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>

 
  <img src="assets/a1.jpg" alt="Faldas y shorts" class="pad_img">
  <img src="assets/b1.jpg" class="pad_img">
  <img src="assets/a2.jpg" alt="Vestidos" class="pad_img">
  <img src="assets/a3.jpg" alt="Faldas" class="pad_img">
  <img src="assets/a4.jpg" alt="Poleras y blusas" class="pad_img">
  <img src="assets/b1.jpg" class="pad_img">
    
  
</ion-content>
