<ion-toolbar color="primary" class="tb_height">
</ion-toolbar>
<ion-toolbar color="primary"> <!--toolbar menu, search y carrito-->
  <ion-buttons slot="start">
    <ion-button (click)="mostrarMenu()">
      <ion-icon color="light" slot="icon-only" name="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon name="cart-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar mode="md" placeholder="Buscar "></ion-searchbar>
</ion-toolbar>



  <ion-toolbar color="primary">
    <ion-title>Noticias del mundo</ion-title>   
  </ion-toolbar>

<ion-content color="light">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                  *ngFor ="let noticia of noticias; let i= index">
                  <ion-card  color="dark">
                    <ion-card-header>      
                      <ion-card-subtitle>    
                          <span class="text">{{i + 1 }}</span>      
                          <span class="noticia-name">{{noticia.source.name}} </span>      
                      </ion-card-subtitle>      
                      <ion-card-title><h3>{{noticia.title}}</h3></ion-card-title>      
                    </ion-card-header>
                    <ion-img  *ngIf="noticia.urlToImage"
                        [src]="noticia.urlToImage"></ion-img>
                        <ion-card-content>
                          <p class="noticia-description">          
                            {{noticia.description}}          
                          </p>          
                        </ion-card-content>
                      </ion-card>
      </ion-col>             
    </ion-row>            
 </ion-grid>
</ion-content>
